@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.hero {
  background: #f7f7f9;
}

.link {
  text-decoration: none;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.p1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.p2 {
  font-weight: 500;
  color: #6070ff;
}

.b1 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.navbar {
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  background-color: white;
}

.navbar__link {
  color: #6070ff;
  line-height: 20px;
  width: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.navbar__menu {
  display: none;
  font-weight: 700;
  font-size: 18;
  line-height: 20px;
}

.navbar__hamb {
  cursor: pointer;
}

.head::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-image: url("./logos/cshap.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.head {
  flex-direction: column;
  background-image: url("./logos/headershape.png");
  align-items: flex-start;
  position: relative;
  padding: 6rem 1.5rem;
  z-index: 10;
}

.head__title {
  color: #172b4d;
  width: 10ch;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.head__title span {
  display: block;
  width: 10ch;
}

.head__dsc {
  margin: 0.8rem 0;
  color: #344563;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.head__icons {
  margin: 0.5rem 0;
}

.head__icons__ul {
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.works__cards {
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 1.5rem;
}

.works__card {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
}

.works__card__img {
  width: 100%;
}

.works__card__img img {
  width: 100%;
}

.works__card__subtitle {
  align-items: center;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  margin: 20px 0;
  color: #344563;
}

.works__card__subtitle-ul {
  margin: 0;
  padding: 0;
}

.works__card__subtitle-li {
  margin-right: 2rem;
}

.works__card__topics {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 1.8rem;
}

.w1 {
  background: #ebebff;
  border-radius: 8px;
}

.works__card__topics__text {
  padding: 4px 12px;
  border-radius: 8px;
}

.works__card__btn .btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.about {
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  width: 5ch;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.about__dsc {
  margin: 10px 0;
}

.about__connect {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.about__icons {
  margin: 1.3rem 0 1rem;
}

.about__icons__ul {
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.about__btn .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.about__tools {
  margin: 6px 0;
  padding: 24px 0;
}

.about__lang__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.about__lang__top__img {
  transform: rotate(90deg);
}

.about__lang__bottom li {
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.about__frameworks {
  border-bottom: 1px solid #dfe1e6;
}

.t1 {
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  font-weight: 500;
}

.about__frameworks__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.about__skills {
  border-bottom: 1px solid #dfe1e6;
}

.about__skills__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.contact::before {
  content: "";
  position: absolute;
  background-color: #6070ff;
  background-image: url("./logos/cshape.png");
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-top-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact {
  position: relative;
  padding: 6.4375rem 1.5rem 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  color: #fff;
  text-align: center;
}

.contact__dsc {
  color: #ebebff;
  text-align: center;
  margin: 0.8rem 0 2.8rem;
}

.contact__container form li input {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0 1rem;
}

.contact__container form li textarea {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 1rem;
  resize: none;
}

.contact__container form li .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  cursor: pointer;
  margin: 18px 0;
}

@media (min-width: 708px) {
  .navbar {
    padding: 1.5rem 8rem;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
  }

  .navbar__menu__li {
    margin: 0 16px;
  }

  .navbar__hamb {
    display: none;
  }

  .head::before {
    background-image: url("./logos/headershape.png");
    padding: 6rem;
    border-bottom-left-radius: 8rem;
  }

  .head {
    padding: 10rem;
    padding-right: 15rem;
  }

  .head__title span {
    width: 15ch;
  }

  .head__link {
    margin: 0.7rem 0;
  }

  .works__cards {
    padding: 5rem;
  }

  .works__card {
    max-width: 1104px;
    -moz-column-gap: 46px;
    column-gap: 46px;
    padding: 1.5rem;
  }

  .works__card__text {
    padding: 1rem;
  }

  .works__card > * {
    flex-basis: 50%;
  }

  .works__card:nth-child(odd) {
    flex-direction: row;
  }

  .works__card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .about {
    padding: 6rem;
    flex-direction: row;
    -moz-column-gap: 37px;
    column-gap: 17px;
    border-top-right-radius: 8rem;
  }

  .about__myself {
    flex-basis: 32rem;
  }

  .about__lang__bottom {
    display: flex;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }

  .about__lang__bottom li {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 7.6rem;
  }

  .about__tools {
    flex-basis: 35rem;
  }

  .contact::before {
    background-image: url("./logos/cshape.png");
    padding: 1rem;
    border-top-left-radius: 8rem;
  }

  .contact {
    padding: 6rem 8.875rem;
    background: #fff;
  }

  .contact_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contact__dsc {
    max-width: 570px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__container form li input,
  .contact__container form li textarea {
    max-width: 447px;
  }

  .contact__container form li:last-child {
    text-align: center;
  }

  .btn:hover {
    color: white;
    background: #6070ff;
  }

  .btn:active {
    background: #2230d2;
    color: white;
  }

  ::placeholder:hover {
    transform: translate(30px);
  }

  .navbar__logo {
    animation: rotatelogo 5s;
  }

  @keyframes rotatelogo {
    to {
      transform: rotateZ(-3240deg);
    }
  }
}
