@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
}
.hero  {
  padding-top: 50px;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
#port {
  display: none
} 

.show {
  display: none;
}

.rotate {
  transform: rotate(360deg);
}
/* smal screen */
.details-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  background: #c1c7d0;
  z-index: 99;
  display: block;
  align-content: center;
  mix-blend-mode: multiply;
}



/* Modal styling */
.project-image {
  width: 100%;
  border-radius: 8px;
  padding: 20px 24px 0 24px;
}

.btn {
  margin: 10px;
}

.project-title {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  width: 589px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding: 0 24px;
  color: #172b4d;
}

.details-container-content {
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  z-index: 99;
  display: block;
  align-items: center;
  padding: 16px;
  gap: 12px;
}

.closeDetails {
  text-align: end;
  position: absolute;
  right: 40px;
  padding: 4px;
  top: 5px;
  font-size: 2rem;
  cursor: pointer;
  color: #67798e;
}

.project-info {
  display: block;
  align-items: center;
  justify-content: space-between;
}

.list-bg {
  padding: 6px 10px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  border: none;
  background: #ebf0ee;
  border-radius: 4px;
}

.list-position {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

.buttons {
  position: relative;
  display: flex;
}

.card-languages {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 22px;
  gap: 1rem;
  border-bottom: 1px solid #ebecf0;
  padding-bottom: 1rem;
}

.c1 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.c2 {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.headtitle {
  top: 5px;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.headc {
  margin-left: 1.5rem;
}

.description {
  font-style: normal;
  font-weight: normal;
  color: #344563;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 30px;
  display: block;
}

.tech-and-buttons {
  margin-left: 1rem;
}

.s1 {
  display: block;
}

.language {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: none;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 10px;
  list-style: none;
  padding: 4px 12px;
  word-wrap: break-word;
}

.green-button {
  background: #fff;
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #396df2;
  margin-top: 15px;
  text-decoration: none;
  width: 102px;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.it {
  margin-right: 15px;
  margin-top: 2px;
  font-size: 8.5px;
}

.green-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.Overlay {
  height: 100vh;
  width: 100%;
  background: #6070ff;
  mix-blend-mode: multiply;
  position: fixed;
  z-index: 99;
  display: none;

  /* filter: blur(0.4rem); */
}

.Overlay a {
  text-decoration: none;
}

.closebtn {
  margin-left: 90%;
  color: white;
  font-size: 35px;
}

.Overlay-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 28px;
}

.Overlay-content a {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.hero {
  background: #f7f7f9;
}

.link {
  text-decoration: none;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.p1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.p2 {
  font-weight: 500;
  color: #6070ff;
}

.b1 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
 
}

.b1 a {
  text-decoration: none;

}

.b1:hover , .b1 a:hover {
  color: wheat
}
.navbar {
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  background-color: white;
}

.navbar__link {
  color: #6070ff;
  line-height: 20px;
  width: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.navbar__menu {
  display: none;
  font-weight: 700;
  font-size: 18;
  line-height: 20px;
}

.navbar__hamb {
  cursor: pointer;
}

.head::before {
  content: '';
  position: absolute;
  background-color: #fff;
  background-image: url('./logos/hsm.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.head {
  flex-direction: column;
  background-image: url('./logos/headershape.png');
  align-items: flex-start;
  position: relative;
  padding: 6rem 1.5rem;
  z-index: 10;
}

.head__title {
  color: #172b4d;
  width: 10ch;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.head__title span {
  display: block;
  width: 10ch;
}

.head__dsc {
  margin: 0.8rem 0;
  color: #344563;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.head__icons {
  margin: 0.5rem 0;
}

.head__icons__ul {
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.works__cards {
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 1.5rem;
}

.works__card {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
}

.works__card__img {
  width: 100%;
}

.works__card__img img {
  width: 100%;
}

.works__card__subtitle {
  align-items: center;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  margin: 20px 0;
  color: #344563;
}

.works__card__subtitle-ul {
  margin: 0;
  padding: 0;
}

.works__card__subtitle-li {
  margin-right: 2rem;
}

.works__card__topics {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 1.8rem;
}

.w1 {
  background: #ebebff;
  border-radius: 8px;
}

.works__card__topics__text {
  padding: 4px 12px;
  border-radius: 8px;
}

.works__card__btn .btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.about {
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  width: 5ch;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.about__dsc {
  margin: 10px 0;
}

.about__connect {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.about__icons {
  margin: 1.3rem 0 1rem;
}

.about__icons__ul {
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.about__btn .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.about__tools {
  margin: 6px 0;
  padding: 24px 0;
}

.about__lang__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.about__lang__top__img {
  transform: rotate(90deg);
}

.about__lang__bottom li {
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.about__frameworks {
  border-bottom: 1px solid #dfe1e6;
}

.t1 {
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  font-weight: 500;
}

.about__frameworks__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.about__skills {
  border-bottom: 1px solid #dfe1e6;
}

.about__skills__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.contact::before {
  content: '';
  position: absolute;
  background-color: #6070ff;
  background-image: url('./logos/cshape.png');
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-top-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact {
  position: relative;
  padding: 6.4375rem 1.5rem 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  color: #fff;
  text-align: center;
}

.contact__dsc {
  color: #ebebff;
  text-align: center;
  margin: 0.8rem 0 2.8rem;
}

.contact__container form li input {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0 1rem;
}

.contact__container form li textarea {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 1rem;
  resize: none;
}

.contact__container form li .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  cursor: pointer;
  margin: 18px 0;
}



@media (min-width: 708px) {
  /* ---------- CARD DETAILS ------------ */

  /* ---------- CARD DETAILS ------------ */
  .details-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
    background: #c1c7d0;
    z-index: 99;
    mix-blend-mode: multiply;
  }

  /* Modal styling */
  .project-image {
    width: 100%;
    border-radius: 8px;
    padding: 20px 24px 0 24px;
  }

  .btn {
    margin: 10px;
  }

  .project-title {
    font-size: 32px;
    font-style: normal;
    width: 589px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    padding: 0 24px;
    color: #172b4d;
  }

  .details-container-content {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px 15px;
    position: relative;
    padding-top: 30px;
    border-radius: 8px;
    z-index: 99s;
  }

  .closeDetails {
    text-align: end;
    position: absolute;
    right: 40px;
    padding: 4px;
    top: 20px;
    color: #67798e;
    font-size: 2rem;
    cursor: pointer;
  }

  .project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list-bg {
    padding: 6px 10px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    border: none;
    background: #ebf0ee;
    border-radius: 4px;
  }

  .list-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
  }

  .buttons {
    position: relative;
    display: flex;
  }

  .card-languages {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 22px;
    gap: 1rem;
    border-bottom: 1px solid #ebecf0;
    padding-bottom: 1rem;
  }

  .c1 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .c2 {
    color: #7a869a;
  }



  .headtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .headc {
    margin-left: 1.5rem;
  }

  .description {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #344563;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 400;
    line-height: 30px;
    max-height: 382px;
    max-width: 700px;
  }

  .tech-and-buttons {
    margin-left: 1rem;
  }

  .s1 {
    display: flex;
    flex-direction: row;
  }

  .language {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    border: none;
    background: #ebf0ee;
    border-radius: 4px;
    margin-right: 10px;
    list-style: none;
    padding: 4px 12px;
    word-wrap: break-word;
  }

  .green-button {
    background: #fff;
    padding: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #396df2;
    margin-top: 15px;
    text-decoration: none;
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 40px;
  }

  .it {
    margin-right: 12px;
    margin-top: 2px;
    font-size: 14px;
  }

  .green-button:hover {
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .navbar {
    padding: 1.5rem 8rem;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
  }

  .navbar__menu__li {
    margin: 0 16px;
  }

  .navbar__hamb {
    display: none;
  }

  .head::before {
    background-image: url('./logos/headershape.png');
    padding: 6rem;
    border-bottom-left-radius: 8rem;
  }

  .head {
    padding: 10rem;
    padding-right: 15rem;
  }

  .head__title span {
    width: 15ch;
  }

  .head__link {
    margin: 0.7rem 0;
  }

  .works__cards {
    padding: 5rem;
  }

  .works__card {
    max-width: 1104px;
    -moz-column-gap: 46px;
    column-gap: 46px;
    padding: 1.5rem;
  }

  .works__card__text {
    padding: 1rem;
  }

  .works__card > * {
    flex-basis: 50%;
  }

  .works__card:nth-child(odd) {
    flex-direction: row;
  }

  .works__card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .about {
    padding: 6rem;
    flex-direction: row;
    -moz-column-gap: 37px;
    column-gap: 17px;
    border-top-right-radius: 8rem;
  }

  .about__myself {
    flex-basis: 32rem;
  }

  .about__lang__bottom {
    display: flex;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }

  .about__lang__bottom li {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 7.6rem;
  }

  .about__tools {
    flex-basis: 35rem;
  }

  .contact::before {
    background-image: url('./logos/cshape.png');
    padding: 1rem;
    border-top-left-radius: 8rem;
  }

  .contact {
    padding: 6rem 8.875rem;
    background: #fff;
  }

  .contact_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contact__dsc {
    max-width: 570px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__container form li input,
  .contact__container form li textarea {
    max-width: 447px;
  }

  .contact__container form li:last-child {
    text-align: center;
  }

  .btn:hover {
    color: white;
    background: #6070ff;
  }

  .btn:active {
    background: #2230d2;
    color: white;
  }

  .works__card__img:hover {
    transform: scale(1.2);
  }

  .navbar__logo {
    animation: rotatelogo 5s;
  }

  .contact__dsc:hover {
    transform: translate(-40px);
  }
  .show {
    display: none;
  }
  
  .rotate{
    transform: rotate(360deg);
  }
  
  @keyframes rotatelogo {
    to {
      transform: rotate(-3240deg);
    }
  }
}
